body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #FFD700;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuXR7uYPex6Xoxd6qKgTPwcZDdmZ63dfk5Pg&usqp=CAU');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    color: black; /* Updated color */
  }
  
  button {
    margin-top: 10px;
    background-color: #FF4500;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="text"] {
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 100%;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 60px; /* Increase the bottom margin */
  }
  
  li {
    margin-bottom: 10px;
  }
  
  #breakFast, #lowCost, #healthierChoice {
    margin-top: 20px;
    font-weight: bold;
  }
  
  #errorMsg {
    color: red;
  }
  